.sel-start {
  width: 0.2rem;
  cursor: ew-resize;
  color: transparent;
  display: inline-block;
  overflow: visible;
  background-color: #4187ee;
  height: fit-content;
  vertical-align: top;
  position: relative;

  &:before {
    content: '';
    display: block;
    background-color: #4187ee;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    position: absolute;
    left: -0.2rem;
    top: -0.3rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}
}

.sel-end {
  width: 0.2rem;
  cursor: ew-resize;
  color: transparent;
  display: inline-block;
  overflow: visible;
  background-color: #4187ee;
  height: fit-content;
  vertical-align: top;
  position: relative;

  &:after {
    content: '';
    display: block;
    background-color: #4187ee;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    position: absolute;
    left: -0.2rem;
    bottom: -0.3rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}
}
